[submodule "platforms/app-store"]
	path = platforms/app-store
	url = git@github.com:lxk36/xgc2-app-store.git
[submodule "platforms/apt-repo"]
	path = platforms/apt-repo
	url = git@github.com:lxk36/xgc2-apt-repo.git
[submodule "products/ros2/simulator/px4-sitl-116"]
	path = products/ros2/simulator/px4-sitl-116
	url = git@github.com:lxk36/xgc2-px4-sitl.git
	branch = v1.16-jazzy
[submodule "products/ros2/vrx"]
	path = products/ros2/vrx
	url = git@github.com:lxk36/xgc2-vrx.git
	branch = xgc2-jazzy
[submodule "products/webui/xgc2-lichtblick"]
	path = products/webui/xgc2-lichtblick
	url = git@github.com:lxk36/xgc2-lichtblick.git
[submodule "products/ros2/xgc2-ros2-ws"]
	path = products/ros2/xgc2-ros2-ws
	url = git@github.com:lxk36/xgc2-ros2-ws.git
[submodule "products/xgc2"]
	path = products/xgc2
	url = git@github.com:lxk36/xgc2-vibe-coding-temp.git
	branch = dev
[submodule "products/ros1/simulator/swarm-sync-sim"]
	path = products/ros1/simulator/swarm-sync-sim
	url = git@github.com:lxk36/xgc2-swarm-sync-sim.git
	branch = master
[submodule "products/common/acados"]
	path = products/common/acados
	url = git@github.com:lxk36/xgc2-acados.git
	branch = master
[submodule "products/common/tbb"]
	path = products/common/tbb
	url = git@github.com:lxk36/xgc2-tbb.git
	branch = master
[submodule "products/common/state-machine"]
	path = products/common/state-machine
	url = git@github.com:lxk36/xgc2-state-machine.git
	branch = master
[submodule "products/utils/linux"]
	path = products/utils/linux
	url = git@github.com:lxk36/xgc2-linux-utils.git
	branch = main
[submodule "products/robotics/fs150"]
	path = products/robotics/fs150
	url = git@github.com:lxk36/xgc2-robot-fs150.git
	branch = main
[submodule "products/ros1/simulator/gazebo-sim"]
	path = products/ros1/simulator/gazebo-sim
	url = git@github.com:lxk36/xgc2-gazebo-sim.git
	branch = noetic
[submodule "products/ros1/communication/runtime-sync"]
	path = products/ros1/communication/runtime-sync
	url = git@github.com:lxk36/xgc2-runtime-sync.git
	branch = noetic
[submodule "products/ros1/simulator/convex_geometry"]
	path = products/ros1/simulator/convex_geometry
	url = git@github.com:lxk36/xgc2-scene-generation.git
	branch = noetic
[submodule "products/ros1/planner/planner"]
	path = products/ros1/planner/planner
	url = git@github.com:lxk36/xgc2-planner.git
	branch = noetic
[submodule "products/common/mavlink-router"]
	path = products/common/mavlink-router
	url = git@github.com:lxk36/xgc2-mavlink-router.git
	branch = master
[submodule "products/ros1/common/ros1-utils"]
	path = products/ros1/common/ros1-utils
	url = git@github.com:lxk36/xgc2-ros1-utils.git
	branch = noetic
[submodule "products/ros1/perception/slam"]
	path = products/ros1/perception/slam
	url = git@github.com:lxk36/xgc2-slam.git
	branch = noetic
[submodule "products/ros1/perception/detection"]
	path = products/ros1/perception/detection
	url = git@github.com:lxk36/xgc2-detection.git
	branch = noetic
[submodule "products/common/math"]
	path = products/common/math
	url = git@github.com:lxk36/xgc2-math.git
	branch = master
[submodule "products/ros1/driver/livox_ros_driver"]
	path = products/ros1/driver/livox_ros_driver
	url = git@github.com:lxk36/livox_ros_driver.git
	branch = noetic
[submodule "products/ros1/driver/livox_ros_driver2"]
	path = products/ros1/driver/livox_ros_driver2
	url = git@github.com:lxk36/livox_ros_driver2.git
	branch = noetic
[submodule "products/ros1/controller"]
	path = products/ros1/controller
	url = git@github.com:lxk36/xgc2-controller.git
	branch = noetic
[submodule "products/ros1/perception/hover-thrust"]
	path = products/ros1/perception/hover-thrust
	url = git@github.com:lxk36/xgc2-estimator-hover-thrust.git
	branch = noetic
[submodule "products/ros1/perception/rigid-state"]
	path = products/ros1/perception/rigid-state
	url = git@github.com:lxk36/xgc2-estimator-rigid-state.git
	branch = noetic
[submodule "products/ros1/simulator/gazebo-sim-tools"]
	path = products/ros1/simulator/gazebo-sim-tools
	url = git@github.com:lxk36/xgc2-gazebo-sim-tools.git
	branch = noetic
[submodule "products/common/vrpn-router"]
	path = products/common/vrpn-router
	url = git@github.com:lxk36/xgc2-vrpn-router.git
	branch = master
[submodule "products/ros1/robot/fs150_description"]
	path = products/ros1/robot/fs150_description
	url = git@github.com:lxk36/xgc2-fs150-description.git
	branch = noetic
[submodule "products/ros1/robot/scout_description"]
	path = products/ros1/robot/scout_description
	url = git@github.com:lxk36/xgc2-scout-description.git
	branch = noetic
[submodule "products/ros1/robot/xgc2_robot_visualization"]
	path = products/ros1/robot/xgc2_robot_visualization
	url = git@github.com:lxk36/xgc2-robot-visualization.git
	branch = noetic
[submodule "products/ros1/common/ros1-msgs"]
	path = products/ros1/common/ros1-msgs
	url = git@github.com:lxk36/xgc2-ros-msgs.git
	branch = noetic
[submodule "products/ros1/communication/ros1-adapter"]
	path = products/ros1/communication/ros1-adapter
	url = git@github.com:lxk36/xgc2-ros1-adapter.git
	branch = master
[submodule "products/robotics/agilex"]
	path = products/robotics/agilex
	url = git@github.com:lxk36/xgc2-robot-agilex.git
	branch = melodic
[submodule "products/ros1/communication/swarm-ros-bridge"]
	path = products/ros1/communication/swarm-ros-bridge
	url = git@github.com:lxk36/xgc2-swarm-ros-bridge.git
	branch = master
[submodule "products/ros1/robot/scout_msgs"]
	path = products/ros1/robot/scout_msgs
	url = git@github.com:lxk36/xgc2-scout-msgs.git
	branch = main
[submodule "products/webui/lichtblick-packaging"]
	path = products/webui/lichtblick-packaging
	url = git@github.com:lxk36/xgc2-lichtblick-packaging.git
	branch = main
