[submodule "platforms/app-store"]
	path = platforms/app-store
	url = git@github.com:lxk36/xgc2-app-store.git
[submodule "platforms/apt-repo"]
	path = platforms/apt-repo
	url = git@github.com:lxk36/xgc2-apt-repo.git
[submodule "products/ros2/px4-sitl-116"]
	path = products/ros2/px4-sitl-116
	url = git@github.com:lxk36/xgc2-px4-sitl.git
	branch = v1.16-jazzy
[submodule "products/ros2/vrx"]
	path = products/ros2/vrx
	url = git@github.com:lxk36/xgc2-vrx.git
	branch = xgc2-jazzy
[submodule "products/webui/xgc2-lichtblick"]
	path = products/webui/xgc2-lichtblick
	url = git@github.com:lxk36/xgc2-lichtblick.git
[submodule "products/ros2/xgc2-ros2-ws"]
	path = products/ros2/xgc2-ros2-ws
	url = git@github.com:lxk36/xgc2-ros2-ws.git
[submodule "products/xgc2"]
	path = products/xgc2
	url = git@github.com:lxk36/xgc2-vibe-coding-temp.git
	branch = dev
[submodule "products/ros1/simulator/px4-sitl-112"]
	path = products/ros1/simulator/px4-sitl-112
	url = git@github.com:lxk36/xgc2-px4-sitl.git
	branch = v1.12-noetic
[submodule "products/ros1/simulator/px4-sitl-114"]
	path = products/ros1/simulator/px4-sitl-114
	url = git@github.com:lxk36/xgc2-px4-sitl.git
	branch = v1.14-noetic
[submodule "products/ros1/simulator/swarm-sync-sim"]
	path = products/ros1/simulator/swarm-sync-sim
	url = git@github.com:lxk36/xgc2-swarm-sync-sim.git
	branch = master
[submodule "products/common/acados"]
	path = products/common/acados
	url = git@github.com:lxk36/xgc2-acados.git
	branch = master
[submodule "products/common/tbb"]
	path = products/common/tbb
	url = git@github.com:lxk36/xgc2-tbb.git
	branch = master
[submodule "products/ros1/simulator/agilex"]
	path = products/ros1/simulator/agilex
	url = git@github.com:lxk36/xgc2-agilex.git
	branch = xgc2-noetic
[submodule "products/ros1/xgc2-ros1-adapter"]
	path = products/ros1/xgc2-ros1-adapter
	url = git@github.com:lxk36/xgc2-ros1-adapter.git
	branch = master
[submodule "products/ros1/perception/estimator-hover-thrust"]
	path = products/ros1/perception/estimator-hover-thrust
	url = git@github.com:lxk36/xgc2-estimator-hover-thrust.git
	branch = noetic
[submodule "products/ros1/common/state-machine"]
	path = products/common/state-machine
	url = git@github.com:lxk36/xgc2-state-machine.git
	branch = noetic
[submodule "products/ros1/manager/linux-utils"]
	path = products/ros1/manager/linux-utils
	url = git@github.com:lxk36/xgc2-linux-utils.git
	branch = noetic
[submodule "products/ros1/simulator/gazebo-sim"]
	path = products/ros1/simulator/gazebo-sim
	url = git@github.com:lxk36/xgc2-gazebo-sim.git
	branch = noetic
[submodule "products/ros1/communication/runtime-sync"]
	path = products/ros1/communication/runtime-sync
	url = git@github.com:lxk36/xgc2-runtime-sync.git
	branch = noetic
[submodule "products/ros1/simulator/convex_geometry"]
	path = products/ros1/simulator/convex_geometry
	url = git@github.com:lxk36/xgc2-convex_geometry.git
	branch = noetic
[submodule "products/common/mavlink-router"]
	path = products/common/mavlink-router
	url = git@github.com:lxk36/xgc2-mavlink-router.git
	branch = master
[submodule "products/ros1/common/ros1-utils"]
	path = products/ros1/common/ros1-utils
	url = git@github.com:lxk36/xgc2-ros1-utils.git
	branch = noetic
[submodule "products/xgc1"]
	path = products/xgc1
	url = git@github.com:lxk36/xgc1.git
